---
import Layout from "../layouts/Layout.astro";
import { db, Productos } from "astro:db";


const idurl = Astro.url.href.split("/")[4];
const productos = await db.select().from(Productos);
const producto = productos.find((producto) => producto.id === Number(idurl));


const { id, name, price, image, quantity } = Astro.props;

const apiKeyId = "597055555532";
const apiKeySecret =
  "579B532A7440BB0C9079DED94D31EA1615BACEB56610332264630D42D0A36B1C";
const res = await fetch(
  "https://webpay3gint.transbank.cl/rswebpaytransaction/api/webpay/v1.2/transactions",
  {
    method: "POST",
    headers: {
      "Tbk-Api-Key-Id": apiKeyId,
      "Tbk-Api-Key-Secret": apiKeySecret,
      "Content-Type": "application/json",
    },
    body: JSON.stringify({
      buy_order: 123456789,
      session_id: "session123455754",
      amount: 100000,
      return_url: "http://localhost:4321/comprobante",
    }),
  }
);

const { token, url } = await res.json();

const formatter = new Intl.NumberFormat("es-CL", {
  style: "currency",
  currency: "CLP",
});
const precio_format = formatter.format(Number());
---

<Layout title="FerremaX | Las mejores herramientas del mercado">
  <main>

    <!-- Vista del carro de productos -->
    <section class="container mx-auto py-12">
      <h1 class="text-4xl text-center font-bold text-gray-800">
        Carrito de compras
      </h1>

      <!-- Si el carro está vacío -->
      <!-- <div class="flex flex-col items-center mt-6" hidden>
        <Cartempty />
        <p class="text-xl text-gray-800 mt-4">Tu carro de compras está vacío</p>
        <a href="../productos" class="text-orange-500 underline mt-2">Ir a productos</a>
      </div> -->

      <!-- Si el carro no está vacío -->
      <div class="flex flex-col items-center mt-6" hidden>
        <div
          class="flex items-center justify-between w-full border-b border-gray-200 py-2">
          <p class="text-xl text-gray-800">Producto</p>
          <p class="text-xl text-gray-800">Precio</p>
          <p class="text-xl text-gray-800">Cantidad</p>
          <p class="text-xl text-gray-800">Total</p>
        </div>

        <div
          class="flex items-center justify-between w-full border-b border-gray-200 py-2">
          <div class="flex items-center">
            <img
              src={image}
              class="w-16 h-16 object-cover rounded-lg"
              alt="Producto 1"
            />
            <p class="text-lg text-gray-800 ml-4">{name}</p>
          </div>
          <p class="text-lg text-gray-800">{precio_format}</p>
          <p class="text-lg text-gray-800">1</p>
          <p class="text-lg text-gray-800">{precio_format}</p>
        </div>

        <!-- <div
          class="flex items-center justify-between w-full border-b border-gray-200 py-2">
          <div class="flex items-center">
            <img
              src={producto?.image}
              class="w-16 h-16 object-cover rounded-lg"
              alt="Producto 1"
            />
            <p class="text-lg text-gray-800 ml-4">{producto?.name.slice(0,9)}</p>
          </div>
          <p class="text-lg text-gray-800">${producto?.price}</p>
          <p class="text-lg text-gray-800">1</p>
          <p class="text-lg text-gray-800">${producto?.price}</p>
        </div>

        <div
          class="flex items-center justify-between w-full border-b border-gray-200 py-2">
          <div class="flex items-center">
            <img
              src={producto?.image}
              class="w-16 h-16 object-cover rounded-lg"
              alt="Producto 1"
            />
            <p class="text-lg text-gray-800 ml-4">{producto?.name.slice(0,9)}</p>
          </div>
          <p class="text-lg text-gray-800">${producto?.price}</p>
          <p class="text-lg text-gray-800">1</p>
          <p class="text-lg text-gray-800">${producto?.price}</p>
        </div> -->

        <div
          class="flex items center justify-between w-full border-b border-gray-200 py-2">
          <p class="text-lg text-gray-800 font-bold">Total</p>
          <p class="text-lg text-gray-800 font-bold">{precio_format}</p>
        </div>

        <div class="flex items-center justify-between w-full mt-6">
          <a href="/productos" class="text-orange-500 underline"
            >Seguir comprando</a
          >
          <a
            href={url + "?token_ws=" + token}
            class="bg-orange-500 text-white font-bold py-2 px-4 rounded-lg"
            >Pagar</a
          >
        </div>
      </div>
    </section>
  </main>
</Layout>
