---
import CardProductos from "./CardProductos.astro";
import { db, Productos } from "astro:db";

async function fetchProductos() {
  try {
    if (db === undefined) {
      throw new Error("La conexión a la base de datos no está definida");
    }

    const productos = await db.select().from(Productos);
    if (productos.length === 0) {
      throw new Error("No existen productos en la base de datos");
    }
    return productos;
  } catch (error) {
    console.error(error);
    return [];
  }
}

const productos = await fetchProductos();
const mensaje = "No hay productos disponibles para mostrar";

---

<section class="h-screen">
  <div
    class="grid gap-y-6 grid-cols-2 m-auto pb-6 px-12 mx-auto lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 md:px-5 pt-16 2xl:px-20">
    {productos.length > 0 ? (
      productos.map((producto) => (
        <CardProductos
          key={producto.id}
          id={producto.id}
          name={producto.name}
          brand={producto.brand}
          image={producto.image}
          price={producto.price}
        />
      ))
    ) : (
      <p class="text-4xl font-semibold">{mensaje}</p>
    )}
  </div>
</section>
